all:
  hosts:
    # localhost:
    # vars:
    #    ansible_connection: local
    #    ansible_python_interpreter: "{{ansible_playbook_python}}"
    HOSTNAME:
      ansible_host: <ip_address>
      ansible_user: <user>
      ansible_password: <password>
